*{
    margin: 0px;
    padding: 0px;
    /* outline: 1px dotted darkred; */
}

#world{
    width: auto;
    /* height: 970px; */
    /* margin: 0px auto; */
    display: inline-block;
    text-align: center;
}

.brick, .coin, .empty, #pacman, #ghost{
    width: 50px;
    height: 50px;
    display: inline-block;
    
}
.row{
    width: 1000px;
    margin-top:-4px;
    white-space: nowrap;
}

.brick{
    background-color: darkblue;
   
}

.empty{
    background-color: rebeccapurple;
}

.coin{
    /* background-color: goldenrod; */
    background: url('sandvich.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    background-color: rebeccapurple;
}

#pacman{
    background: url('jake_pacman.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    position: absolute;
    left: 800px;
    top: 350px;
    margin-top:-4px;
    /* rotate: 90deg; */
}

h1{
    text-align: center;
}

#ghost{
    /* height: 90px;
    width: 90px; */
    position: absolute;
    left: 750px;
    top: 300px;
    /* background-image: url("jake_pacman.gif"); */
    background-color: red;
    
}
